/* General body styling */
*{
    margin: 0;
    padding: 0;
   
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../media/bgs/neon-staduium-side.jpg');
    background-size: cover ;

}

/* Header/logo section */
.header {
    background-color: black;
    color: white;
    padding: 0px;
    height: fit-content;
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Center items vertically */
}

.header .logo {
    margin: 5px 5px 5px 30px;
    height: 80px;
    /* width: 150px; */
}

.header .home-icon {
    margin-left: auto; /* Push home icon to the right */
    margin: 0px 30px 0px 0px;
    padding: 10px; /* Add some padding */
    display: flex;
}.header .home-icon:hover{
    text-shadow: 0px 0px 5px aliceblue;
}
.header .home-icon h3{
    margin: 5px ;
    color: #f4f4f4;
}
.header .icon {
    height: 27px; /* Set height for home icon */
    width: 27px; /* Set width for home icon */
}
/* Content styling */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px;
}

/* Left side: Motivational quote */
.quote-section {
    width: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.856);
    margin-right: 20px;
}

.quote-section span {
    font-size: 98px;
    color: red;
    text-shadow: 0px 0px 10px rgb(12, 8, 8);
}

/* Right side: Form section */
.form-section {
    background-color: rgba(0, 0, 0, 0.985);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(96, 94, 94);
    padding: 40px;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}.form-section:hover{box-shadow: 0px 0px 25px rgb(96, 94, 94); transition: 0.5s ;}

.form-section h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 95%;
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 45px 0px;
    border-bottom: 1.7px aliceblue solid;
    text-shadow: 0px 0px 10px whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section input {
    margin-bottom: 15px;
    height: 28px;
    width: 190%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: inherit;
    color: aliceblue;
    border: 2.3px dotted aliceblue;

}.form-section input:hover{box-shadow: 0px 0px 10px white; transition: 0.2S;}

.login-btn {
    background-color: white;
    width: 170px;
    color: black;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.login-btn:hover {
    background-color: grey;
    color: black;
    
    
    box-shadow: aliceblue 0px 0px 5px;
    transition: 1s ease-in-out;
}
